@import "tailwindcss";

body,
html {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
